django
djangorestframework
django-environ
django-cors-headers

channels
channels_redis
redis

celery
django-celery-beat

openai
PyPDF2
python-magic

psycopg2-binary
djangorestframework-simplejwt

gunicorn
dj-database-url
python-dotenv
whitenoise